<!DOCTYPE html>
<html>

<head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <a class="navbar-brand" href="#">
            <%= link_to   image_tag("logo.jpg", size: "50"), root_path %>
        </a>
        <%if current_page?('/')%>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">New Drink</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create your drink</h5>
                    </div>
                    <div class="modal-body">
                        <%= simple_form_for @cocktail do |f| %>
                        <%= f.input :name %>
                        <%=f.input :photo, as: :file%>
                        <div class="teste d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%= f.submit "Create", class: "btn btn-primary" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%end%>




    </div>


    <%= yield %>

</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</html>